<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>GetPlatypi</title>
	</head>
	<body>
		<h1><%- error.status %> <%- error.message %></h1>
		<!-- pre><%- error.stack %></pre -->
	</body>
</html>
